page-home {

    ion-content {
        background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url(../../assets/imgs/fundo-corpo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    // Fix for swiper on coverflow, perspective needs to be in the parent element only.
    // .swiper-container-coverflow .swiper-wrapper,
    // .swiper-container-flip .swiper-wrapper {
    //     perspective: unset;
    // }

    .image-card { width: 70%; }
        
    ::-webkit-scrollbar { -webkit-appearance: none; }
    ::-webkit-scrollbar:vertical { width: 7px; }
        
    ::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid #868686;
        background-color: #fff;
    }

    .searchbar-input {
        border-radius: 18px/40px !important;
        background: linear-gradient(0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3)), url(../../assets/imgs/fundo-input.jpeg);
        box-shadow: 
        0 0 0 2px #171314, 
        0 0 0 5px #26714A, 
        -3px 3px 2px 5px #171314;
    }

    .searchbar {
        background: transparent;
        border: none;
    }

    ::-webkit-scrollbar-track {
        background-color: #414141;
        border-radius: 50px;
    }

    .fab[mini] { margin: 3.5px !important; }

    .fab ion-icon {
        font-size: 3rem;
        margin-bottom: 1px;
    }

    .searchbar-search-icon {
        left: 11px !important;
        opacity: 0.5;
    }
}
