<ion-header>
  <ion-row align-items-center>
    <ion-col>
      <ion-searchbar no-lines [(ngModel)]="cardName" [formControl]="searchControl" (ionInput)="onSearchInput()"
        type="text" placeholder="Busca por nome">
      </ion-searchbar>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content padding auto-hide>

  <div text-center *ngIf="searching" margin-top>
    <ion-spinner></ion-spinner>
  </div>

  <ion-row *ngFor="let card of cards">
    <ion-col no-padding text-center margin-top>
      <div *ngIf="card.imageUrl">
        <img [src]="card.imageUrl" class="image-card" tappable (click)="goToCardDetail(card)">
      </div>
      <div *ngIf="!card.imageUrl">
        <img src="assets/imgs/image-not-found.svg" class="image-card">
      </div>
    </ion-col>
  </ion-row>
  
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab left bottom #fab>
    <button ion-fab mini class="flex vertical-center horizontal-center" color="light" (click)="goUp()">
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
  </ion-fab>

</ion-content>