page-card-detail {
    ion-content {
        background-color: #22c1c3;
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,39,37,0.8407738095238095) 100%);
    }
    
    .toolbar-background {
        background-color: transparent !important;
        border: none !important;
    }
}
