
<ion-header>

  <ion-navbar>
    <!-- <ion-title>card-detail</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row>
    <ion-col text-center>
      <img [src]="card.imageUrl">
    </ion-col>
  </ion-row>
  
  <h2 text-left>Nome: {{card.name}}</h2>
  <h2 text-left>Habilidade: {{card.text}}</h2>
  <h2 text-left>Raridade: {{card.rarity}}</h2>
  <h2 text-left>Custo de mana: {{card.manaCost}}</h2>


</ion-content>
